// Breakpoints

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Fonts

$font-main: "Outfit", sans-serif;
$font-title: "Big Shoulders", sans-serif;

// Colors

$brown: #d5966c;
$black: #151515;
$grey: #444444;
